
.container {
    font-family: 'Roboto Condensed', sans-serif;
}
/* Grow */
.hvr-grow:hover {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
    transform: scale(1.05);
}
#badge {
    display: none;
}

.portfolio {
    max-height: 175px;
}

.outline{
    border: 1px solid #e0e0e0;
    padding: 10px 20px;
}
hr {
    position: sticky;
}

